body{
    background-color: rgb(233, 244, 255) !important;
}
main{
    margin-bottom: 100px;

}
/* layding page css */
div.navbar-brand.text-white{
    margin-left: 150px;

}
div.card-body{
    min-height: 205px;
}
/* layding page css */

/* mon cv css */
nav a.navbar-brand, a.nav-link{
    color: white !important;
}
li.nav-item:hover a.nav-link:hover{
    background-color:white ;
    color:black !important;
    transition:all 0.5s ease-out;
}
div.col-sm-12.col-md-6{
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
img.img-fluid{
    width: 250px;
    height: 250px;
    max-height: 250px;
    max-width: 250px;
    border-radius: 100%;
    border:solid 1px gray;
    box-shadow:0 0 0.7rem black;
    margin-top: 10px;
}
ul.list-group.list-group-flush li{
    background:rgb(247, 245, 245);
}
.fa-html5{
    color:red;
    font-size: 50px;
}
.fa-css3-alt{
    color:blue;
    font-size:50px;
}
.fa-js-square{
    color:rgb(245, 228, 0);
    font-size:50px;

}
div.col-6{
    display: block;
}
.col-6 p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

/* mon cv css */


.foot{
    width: 100%;
    height: 60px;
    background-color:rgb(108,117,125) ;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/*mes projet*/

.col-12.carouside{
    max-width:1400px ;
  
}
img.carouside{
    height: 550px;
    min-height: 450px;
    max-height: 550px;

}
.projetMain{
    text-align: center;
}