body{
    background-color: rgb(217, 241, 241) !important;
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* layding page css */
div.navbar-brand.text-white{
margin-left: 150px;

}
div.card-body{
    min-height: 205px;
}
/* layding page css */

/* mon cv css */
nav a.navbar-brand, a.nav-link{
    color: white !important;
}
li.nav-item:hover a.nav-link:hover{
background-color:white ;
color:black !important;
transition:all 0.5s ease-out;
}
div.col-sm-12.col-md-6{
    background-color: rgba(255, 255, 255, 0.4);
}
img.img-fluid{
    max-width: 300px;
    max-height: 300px;
    border-radius: ;
}


/* mon cv css */



.foot{
    width: 100%;
    height: 60px;
    background-color:rgb(108,117,125) ;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}